### Tuples

In [1]:
a = (1,2)
print(type(a))

<class 'tuple'>

In [2]:
b = 3
c = 4
print(b)
print(c)
print(type(b))
print(type(c))

e = 5,6
print(e)
print(type(e))

3
4
<class 'int'>
<class 'int'>
(5, 6)
<class 'tuple'>

In [4]:
print(e[0],e[1])

5 6

In [5]:
e[0] = 10

TypeError: 'tuple' object does not support item assignment

In [6]:
#tuples cannot be edited
#but they can be deleted
del e
e

NameError: name 'e' is not defined

In [8]:
# for loop in tuples
a = (1,2,3,4,5,6)
for i in a:
    print(i)

1
2
3
4
5
6

In [9]:
# checking conditions
1 in a

True

In [10]:
# checking length of tuples
len(a)

6

In [11]:
# concatenation of tuples
b = (7,8,9,10)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
d = (a,b)
d

((1, 2, 3, 4, 5, 6), (7, 8, 9, 10))

In [14]:
# repetition
e = a*3
e

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [15]:
# minimum operator
min(a)

1

In [16]:
# maximum operator
max(a)

6

In [21]:
li = [1,2,3,4,5,6,7,8,9,10]
li = tuple(li)
print(li)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Variable length input and output

In [23]:
def sumfunction(a,b):
    return a+b
a = 3
b = 5
sumfunction(a,b)

8

In [29]:
def sum_variable_length(a,b,*more):
    print(a , "," , type(a))
    print(b , "," , type(b))
    print(more , "," , type(more))
    ans = a+b
    for i in more:
        ans += i
    print(ans)

In [30]:
sum_variable_length(1,5)

1 , <class 'int'>
5 , <class 'int'>
() , <class 'tuple'>
6

In [31]:
sum_variable_length(2,5,6,8)

2 , <class 'int'>
5 , <class 'int'>
(6, 8) , <class 'tuple'>
21

In [34]:
def func_(a,b):
    return a+b,a-b


c = func_(4,1)
print(type(c))
print(c)

<class 'tuple'>
(5, 3)

### Dictionaries

In [35]:
a = {}
type(a)

dict

In [1]:
a = {"The":1 , "a":5 ,  101010:"s"}      # key : value

In [2]:
a

{'The': 1, 'a': 5, 101010: 's'}

In [3]:
len(a)

3

In [4]:
# copying a dictionary to another
b = a.copy()

In [5]:
b

{'The': 1, 'a': 5, 101010: 's'}

In [6]:
c = dict([("I am spiderman", 1000),("The name is " , "20"),("Miles Morales" , "spiderverse")])

In [7]:
c

{'I am spiderman': 1000, 'The name is ': '20', 'Miles Morales': 'spiderverse'}

In [5]:
d = dict.fromkeys(["abc" , 123 , "a1b2c3"] , 100)         #the default value they take is none

In [6]:
d

{'abc': 100, 123: 100, 'a1b2c3': 100}

### Functions on dictionaries

In [26]:
dic = {1:2 , "str":[1,2,3,4,5] , "happy":"word" , "dict":{1:2 , 7:8}}

In [27]:
dic

{1: 2, 'str': [1, 2, 3, 4, 5], 'happy': 'word', 'dict': {1: 2, 7: 8}}

accessing elements in a dictionary

In [28]:
dic["str"]

[1, 2, 3, 4, 5]

In [29]:
dic.get("dict")

{1: 2, 7: 8}

In [30]:
print(dic.get("jasdnaskda"))

None

In [31]:
dic.get("kasndasnkl" , "There is nothing to see here :D")    # (x , y)    y -> it will be printed if x is not in the dict

'There is nothing to see here :D'

In [32]:
dic.keys()

dict_keys([1, 'str', 'happy', 'dict'])

In [33]:
dic.values()

dict_values([2, [1, 2, 3, 4, 5], 'word', {1: 2, 7: 8}])

In [34]:
dic.items()         # it returns the pairs of keys and values

dict_items([(1, 2), ('str', [1, 2, 3, 4, 5]), ('happy', 'word'), ('dict', {1: 2, 7: 8})])

In [35]:
for i in dic:
    print(i)

1
str
happy
dict

In [36]:
for i in dic:
    print(i , " : " , dic[i])

1  :  2
str  :  [1, 2, 3, 4, 5]
happy  :  word
dict  :  {1: 2, 7: 8}

In [37]:
for i in dic.values():
    print(i)

2
[1, 2, 3, 4, 5]
word
{1: 2, 7: 8}

In [40]:
# to check if a key exists in a dictionary

print("list" in dic)
print('str' in dic)

False
True

adding or removing data from a dictionary

In [41]:
dic

{1: 2, 'str': [1, 2, 3, 4, 5], 'happy': 'word', 'dict': {1: 2, 7: 8}}

In [44]:
dic["tuple"] = ("xyz" , 123 , [1,2,3,4])           # dic[key]=value

In [45]:
dic

{1: 2,
 'str': [1, 2, 3, 4, 5],
 'happy': 'word',
 'dict': {1: 2, 7: 8},
 'tuple': ('xyz', 123, [1, 2, 3, 4])}

In [48]:
dic[1] = 500     # changing a value

In [49]:
dic

{1: 500,
 'str': [1, 2, 3, 4, 5],
 'happy': 'word',
 'dict': {1: 2, 7: 8},
 'tuple': ('xyz', 123, [1, 2, 3, 4])}

In [50]:
a = {"str":123 , "li":["zyx" , 5124]}

In [51]:
dic.update(a)

In [52]:
dic

{1: 500,
 'str': 123,
 'happy': 'word',
 'dict': {1: 2, 7: 8},
 'tuple': ('xyz', 123, [1, 2, 3, 4]),
 'li': ['zyx', 5124]}

In [53]:
# removing data from dict

dic.pop("tuple")
dic

{1: 500,
 'str': 123,
 'happy': 'word',
 'dict': {1: 2, 7: 8},
 'li': ['zyx', 5124]}

In [54]:
del dic["dict"]
dic

{1: 500, 'str': 123, 'happy': 'word', 'li': ['zyx', 5124]}

In [55]:
dic.clear()

In [56]:
dic

{}

In [57]:
del dic

In [58]:
dic

NameError: name 'dic' is not defined

Print all the words with frequency k

In [4]:
string = "This is a word string with many many word"
k = 2

In [5]:
words = string.split()

In [6]:
words

['This', 'is', 'a', 'word', 'string', 'with', 'many', 'many', 'word']

In [9]:
d = {}
for w in words:
    d[w] = d.get(w,0) + 1

'''for w in words:
    if w in d:
        d[w] = d[w]+1
    else:
        d[w] = 1'''

d

{'This': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'with': 1, 'many': 2}

In [10]:
for x in d:
    if d[x] == k:
        print(x)

word
many

In [11]:
def printKfreqwords(s , k):
    words = s.split()
    d = {}
    for i in words:
        d[i] = d.get(i , 0) + 1
    for x in d:
        if d[x] == k:
            print(x)
s = "Hello Hello , my name is not my name"
k = 2
printKfreqwords(s , k)

Hello
my
name

### Sets

In [2]:
set_ = {"apple" , "asjkd" , 23456}
set_

{23456, 'apple', 'asjkd'}

In [3]:
type(set_)

set

In [4]:
set_(0)

TypeError: 'set' object is not callable

In [5]:
"apple" in set_

True

In [6]:
for v in set_:
    print(v)

23456
asjkd
apple

In [7]:
len(set_)

3

In [8]:
set_.add("temp")
set_

{23456, 'apple', 'asjkd', 'temp'}

In [9]:
set__ = {"asjndjna" , 123124}
set_.update(set__)
set_

{123124, 23456, 'apple', 'asjkd', 'asjndjna', 'temp'}

In [10]:
set_.remove(123124)
set_

{23456, 'apple', 'asjkd', 'asjndjna', 'temp'}

In [12]:
set_.discard("askdnjkasnda")
set_

{23456, 'apple', 'asjkd', 'asjndjna', 'temp'}

In [13]:
set_.pop()
set_

{'apple', 'asjkd', 'asjndjna', 'temp'}

In [14]:
del set_
set_

NameError: name 'set_' is not defined

Functions in sets

In [15]:
a = {1,2,3,4}
b = {3,4,5,6,7}

In [16]:
# intersection
a.intersection(b)

{3, 4}

In [18]:
# union
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [19]:
# a-b
a.difference(b)

{1, 2}

In [21]:
# symmetric difference
a.symmetric_difference(b)

{1, 2, 5, 6, 7}

In [22]:
a.intersection_update(b)
a

{3, 4}

In [23]:
a

{3, 4}

In [24]:
a = {1,2,3,4}

In [25]:
a.difference_update(b)
a

{1, 2}

In [26]:
a = {1,2,3,4}

In [27]:
a.symmetric_difference_update(b)
a

{1, 2, 5, 6, 7}

In [28]:
a = {1,2,3,4}

In [29]:
a.union_update(b)
a

AttributeError: 'set' object has no attribute 'union_update'

In [30]:
a.issubset(b)

False

In [31]:
c = {3,4}
c.issubset(a)

True

In [32]:
a.issuperset(c)

True

In [35]:
a.isdisjoint(b)     # false because they have 3,4 in common

False

In [36]:
d = {8,9,10}
a.isdisjoint(d)

True

In [1]:
a = {1,2,3,1,4,5,2,3}

In [2]:
len(a)

5

In [4]:
a.add(2)

In [5]:
a

{1, 2, 3, 4, 5}

In [8]:
def sumUnique(a):
    s = set(a)
    sum = 0
    for i in s:
        sum += i
    return sum

In [9]:
sumUnique(a)

15